body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: blanchedalmond;
}

#Project {
  background-color: blanchedalmond;
}

#contact a {
  color: rgb(2, 2, 2);
  font-size: 3rem;
}

section {
  padding-top: 6rem;
}
